<div class="contents">
  <% @stocks.each do |stock| %>
    <div class="content">
      <ul class = "lists">
        <li class="list"><%= stock.area%></li>
        <li class="list"><%= stock.store_name %></li>
        <li class="list"><%= stock.product %></li>
        <li class="list"><%= stock.lottery %></li>
        <li class="list"><%= stock.comment %></li>
        <li class="list"><%= stock.user.nickname %></li>
        <li class="list"><% id='goodpoint' %>いいね</li>
      </ul>
    </div>
  <% end %>
  <%= image_tag 'images/good.png'%>
</div>